In [ ]:
#print 0 to 20 using range

In [3]:
for num in range(0,20):
    print(num)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [ ]:
#print range 10 to 20

In [9]:
for num in range(10,20):
    print(num, end=" ")

10 11 12 13 14 15 16 17 18 19

In [ ]:
# Print number of items in the list by using 'len'

In [ ]:
lists=[10,20,14,55,43,87,76]

In [12]:
print("-Your name-")
print("-Your age-")
print("-Your Profession-")

-Your name-
-Your age-
-Your Profession-

In [16]:
string=input()
for letter in string:
    print(letter)

 Artificial Intelligence

A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [ ]:
#print odd numbers

In [17]:
lists=[20,10,16,19,25,1,276,188]
print(lists)
for num in lists:
    if((num%2)==1):
        print(num,"is odd")

[20, 10, 16, 19, 25, 1, 276, 188]
19 is odd
25 is odd
1 is odd

In [ ]:
#print even numbers

In [18]:
lists=[20,10,16,19,25,1,276,188]
print(lists)
for num in lists:
    if((num%2)==0):
        print(num,"is even")

[20, 10, 16, 19, 25, 1, 276, 188]
20 is even
10 is even
16 is even
276 is even
188 is even

In [ ]:
# Print number of items in the list by using 'len'

In [24]:
lists=[10, 20, 14, 55, 43, 87, 76]
length=len(lists)
print(lists)
print("Number of items in lists:\n", length)

[10, 20, 14, 55, 43, 87, 76]
Number of items in lists:
 7

In [ ]:
# Refer this link : https://www.geeksforgeeks.org/python-tuples/

# Print yhis mixered datatype using Tuples

In [28]:
tuple = (1, 'Welcome', 2, 'Hope')
print(tuple)

(1, 'Welcome', 2, 'Hope')

In [ ]:
# Refer this link : https://www.geeksforgeeks.org/python-tuples/

Tuple1 = (0, 1, 2, 3)

In [27]:
tuple1 = (0, 1, 2, 3)
tuple2 = ('Python', 'Hope')
tuple3 = (tuple1, tuple2)
print(tuple3)

((0, 1, 2, 3), ('Python', 'Hope'))